:root{
    --main-color: #dce9f1;
    --black: #222;
    --light-gray: #eee;
    --gray: #bbb;
    --dark-blue: #06355e;
    --dark-blue-opacity: rgba(6, 53, 94, .7);
    --line-daily: #d5eef5;
    --dokdo-line: #43749f;
    --sun-care-line: #914144;
    --local-line: #39461b;
    --text-gray: #777;
    --shadow: rgba(0, 0, 0, .2);
    --min-width-pc: 1216px;
    --min-width-tab: 770px;
    --min-width-mob: 328px;
    --gap-pc: 16px;
    --gap-tab: 20px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}


/* 헤더 */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;    
    padding: 0 32px;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20);
    border-bottom: 0 solid var(--light-gray);
    box-sizing: border-box;
    transition: .3s;
    z-index: 100;
}

header:hover{
    background-color: #fff;
}


/* 메인 로고 */
.main-logo img{
    width: 150px;
    height: 40px;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip-path: inset(0 0 99.9% 99.9%);
}


/* 메인 메뉴 */

.main-menu-wrapper{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav{
    display: flex;
}

.main-nav .nav-list{
    display: block;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--font-black);
    line-height: 60px;
    text-align: center;
}


/* 메인 메뉴 드롭다운 */
.main-nav-wrapper .dropdown-container{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 0;
    top: 100%;
    left: -32px;
    background-color: #fff;
    border-top: 0px solid var(--light-gray);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20);
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}

.main-nav-wrapper .dropdown-wrapper{
    display: flex;
    margin: 0 auto;
    width: 564px;
}

.main-nav-wrapper .dropdown-contents{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}



.main-nav-wrapper .dropdown-contents.shopping{
    position: relative;
    margin-left: 9px;
}

.main-nav-wrapper .dropdown-contents.event{
    margin-left: 8px;
}

.main-nav-wrapper .dropdown-contents.brand{
    margin-left: 27px;
}

.main-nav-wrapper .dropdown-contents.cs{
    margin-left: 235px;
}


.main-nav-wrapper:hover .dropdown-container{
    height: 250px;
    opacity: 1;
    border-top: 1px solid var(--light-gray);
}

.main-nav-wrapper:hover .main-nav-inner-list .inner-list{
    transform: translateY(0);
}

.main-nav-wrapper .main-nav-inner-list .inner-list{
    display: block;
    width: 70px;
    height: 50px;
    text-align: center;
    transform: translateY(-50px);
    transition: transform .3s;
}


.main-nav-inner-list .inner-list span{
    font-size: 16px;
    line-height: 50px;
    color: var(--black);
}

.main-nav-inner-list .inner-list:hover span{
    font-weight: bold;
    background: linear-gradient(to top, var(--line-daily) 50%, transparent 50%);
} 


.main-nav-inner-list.all-list:hover .all-dropdown-contents,
.main-nav-inner-list.type-list:hover .type-dropdown-contents,
.main-nav-inner-list.trouble-list:hover .trouble-dropdown-contents,
.main-nav-inner-list.line-list:hover .line-dropdown-contents{
    display: block;
}


.main-nav-inner-list .inner-contents { 
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100%;
    background-color: var(--light-gray);
    box-sizing: border-box;
    padding: 10px 0 0 20px;
    z-index: 1;
}


.main-nav-inner-list .inner-contents a{
    display: block;
    width: 100px;
    height: 35px;
    line-height: 30px;
    color: var(--black);
    font-size: 16px;
}

.main-nav-inner-list .inner-contents a:hover{
    font-weight: bold;
}





/* 헤더 우측 아이콘 */
.right-btns ul{
    display: flex;
    gap: 20px;
}

.right-btns li{
    cursor: pointer;
}

.search-icon, .cart-icon, .my-page-icon{
    width: 24px;
    height: 24px;
}

.hamburger-menu-btn{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.hamburger-menu-btn span{
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--black);
    border-radius: 2px;
}




/* 제품 검색 */
.search-container{
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    width: 716px;
    height: 140px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 1px 1px 2px 0 var(--shadow);
    border-radius: 20px;
}

.search-container form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    height: 60px;
    border: 3px solid var(--black);
    border-radius: 30px;
    padding: 0 20px 0 10px;
    box-sizing: border-box;
}

.search-input{
    width: 420px;
    border: none;
    color: var(--text-gray);
    font-size: 16px;
    background-color: transparent;
}

.search-input::-webkit-search-cancel-button{
	display:none;
}

.search-input:focus{
    outline: none;
}

.reset-btn, .submit-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reset-btn{
    width: 20px;
    height: 20px;
}

.reset-btn img{
    width: 10px;
    height: 10px;
}

.submit-btn img{
    width: 40px;
    height: 40px;
    margin-top: 4px;
}

.close-search-box{
    position: absolute;
    top: 16px;
    right: 20px;
}

.close-search-box img{
    width: 16px;
    height: 16px;
    opacity: .8;
}



/* 마이페이지 드롭다운*/
.my-page-dropdown{
    display: none;
    position: absolute;
    width: 130px;
    padding: 30px 24px;
    top: 110%;
    right: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    text-align: center;
}

.my-page-dropdown>ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--gray);
}

.my-page-list{
    color: var(--black);
    font-size: 14px;
    font-weight: bold;
}

.lang{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}

.lang a{
    color: var(--black);
    font-size: 14px;
}

.selected-lang{
    text-decoration: underline;
    text-underline-position : under;
}



.hamburger-menu, .hamburger-menu-container{
    display: none;
}





/* 브랜드 소개 */
#brand-intro{
    position: relative;
    width: 100%;
    height: 100vh;
}

#brand-intro li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}


.intro-one{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3), transparent 50%), url(../img/intro01.jpg);
}

.intro-two{
    z-index: -1;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3), transparent 50%), url(../img/intro02.jpg);
}

.intro-three{
    z-index: -1;
    background-image: linear-gradient(to left, rgba(0, 0, 0, .3), transparent 50%), url(../img/intro03.jpg);
}


.intro-one .intro-text-box, .intro-two .intro-text-box{
    margin-left: 4%;
}

.intro-three .intro-text-box{
    margin-left: 50%;
}


#brand-intro a{ 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#brand-intro h2{
    color: #fff;
    font-size: 60px;
    line-height: 1.1;
    font-weight: bold;
}

#brand-intro h2::after{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 16px 0 32px 0;
}

#brand-intro p{
    color: #fff;
    font-size: 30px;
    line-height: 1.4;
}

#brand-intro p span{
    font-size: 30px;
    font-weight: bold;
}



/* 제품 라인 소개 */
#item-line{
    margin-top: 300px;
}

.introduce-line-wrapper{
    width: var(--min-width-pc);
    margin: 0 auto;
}


.introduce-line-wrapper ul{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.dokdo-line-container, .sun-care-line-container, .local-line-container{
    display: flex;
    align-items: center;
    gap: 70px;
}

.line-img-box, .line-img-box img{
    width: 600px;
    height: auto;
}

.line-img-box a{
    position: relative;
}

.keywords{
    display: none;
    position: absolute;
    bottom: 40px;
    width: 100%;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
    font-weight: bold;
}

.dokdo-line-container .keywords{
    color: var(--dokdo-line);
}

.sun-care-line-container .keywords{
    color: var(--sun-care-line);
}

.local-line-container .keywords{
    color: var(--local-line);
}

.line-text-box h2{
    font-size: 30px;
    font-weight: bold;
    color: var(--black);
}

.line-text-box h2::after{
    content: '';
    display: block;
    background-color: var(--gray);
    width: 100px;
    height: 2px;
    margin: 16px 0 32px 0;
}


.sun-care-line-container{
    flex-direction: row-reverse;
}

.sun-care-line-container .line-text-box{
    text-align: right;
}

.sun-care-line-container .line-text-box h2::after{
    margin: 16px 0 32px auto;
}

.keyword-box{
    font-size: 16px;
    font-weight: bold;
}

.dokdo-line-container .keyword-box{
    color: var(--dokdo-line);
}

.sun-care-line-container .keyword-box{
    color: var(--sun-care-line);
}

.local-line-container .keyword-box{
    color: var(--local-line);
}

.line-explanation{
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
}

.small{
    display: none;
}

.view-more{
    margin-top: 50px;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 110px;
    padding: 10px 0;
    border-radius: 20px;
}

.dokdo-line-container .view-more{
    background-color: var(--dokdo-line);
}

.sun-care-line-container .view-more{
    background-color: var(--sun-care-line);
    margin: 50px 0 0 auto;
}

.local-line-container .view-more{
    background-color: var(--local-line);
}









/* 라인별 제품추천 */
#line-products{
    position: relative;
    margin-top: 300px;
    padding: 120px 32px;
    box-sizing: border-box;
}

.line-inner-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.20);
    margin: 0 auto;
    transition: .3s;
}



.section-title{
    text-align: center;
}

.section-title h2{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.section-title h2{
    font-size: 40px;
    color: var(--black);
}

.section-title h2::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-top: 2px solid var(--black);
    border-right: 2px solid var(--black);
    margin-top: 5px;
}


.section-title p{
    font-size: 14px;
    color: var(--text-gray);
    margin-top: 16px;
}

.type-container{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.type-btn{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-sizing: border-box;
    transition: .2s;
}

.type-btn p{
    color: var(--text-gray);
    font-size: 20px;
    font-weight: bold;
    transition: .2s;
}



.type-btn.seleted-tab{
    border-bottom: 4px solid var(--dark-blue);
    color: var(--dark-blue);
}

.type-btn.seleted-tab p{
    font-size: 24px;
    color: var(--dark-blue);
}

.type-btn:hover p{
    color: var(--dark-blue);
}



#line-products .selected-type-frame{
    width: var(--min-width-pc);
    margin-top: 40px;
    overflow: hidden;
}

#line-products .type-contents-wrapper{
    display: flex;
}

.products-text-box{
    text-align: center;
    background-color: #fff;
    width: 600px;
    padding: 16px 0;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 var(--shadow);
    margin: 0 auto;
}

.line-keywords{
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-blue);
}

.products-text-box p{
    margin-top: 10px;
    font-size: 16px;
    color: var(--text-gray);
    line-height: 1.4;
}

.line-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.line-carousel .carousel-frame{
    width: var(--min-width-pc);
    height: 262px;
    overflow: hidden;
}

.line-carousel .carousel-contents-wrapper, .line-carousel .carousel-contents-wrapper>li{
    display: flex;
    gap: var(--gap-pc);
}

.line-carousel .carousel-contents{
    position: relative;
    width: 600px;
    height: 260px;
    text-align: center;
    box-shadow: 0 1px 2px 0 var(--shadow);
    box-sizing: border-box;
}

/* .line-carousel .discount-img{
    position: absolute;
    width: 35px;
    height: 50px;
    background-image: url(../img/discount.png);
    background-size: 35px 50px;
    background-repeat: no-repeat;
    top: 0;
    left: 8px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
} */


.line-carousel .carousel-contents a{
    display: flex;
}

.line-carousel .carousel-contents img{
    width: 260px;
    height: 260px;
}

.line-carousel .text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    height: 260px;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: #fff;
}

.line-carousel .product-name{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 16px;
    box-sizing: border-box;
}

.line-carousel .product-name p{
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    max-height: 60px;
    color: var(--black);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.line-carousel .product-price{
    margin-top: 16px;
}

.line-carousel .discount{
    font-size: 14px;
    color: var(--text-gray);
    text-decoration: line-through;
}

.line-carousel .price, .line-carousel .won{
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
}

.arrow-btn{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(var(--min-width-pc) + 50px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 190px;
    z-index: 5;
}

.line-carousel .arrow-btn img{
    width: 30px;
    cursor: pointer;
}

.line-bottom-btn{
    height: 16px;
}


.line-bg-blue{
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 636px;
    left: 0;
    bottom : 0;
    z-index: -1;
}










/* 유형별 제품추천 */

#category-product{
    position: relative;
    margin-top: 300px;
}

.category-wrapper{
    width: var(--min-width-pc);
    margin: 0 auto;
}

#category-product .selected-type-frame{
    width: var(--min-width-pc);
    margin-top: 50px;
    overflow: hidden;
}

#category-product .type-contents-wrapper{
    display: flex;
}

#category-product .type-contents-wrapper>li{
    width: var(--min-width-pc);
    min-width: var(--min-width-pc);
}

.category-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.category-carousel .arrow-btn{
    display: none;
}


.category-carousel .carousel-frame{
    width: var(--min-width-pc);
    overflow: hidden;
}

.category-carousel .carousel-contents-wrapper{
    display: flex;
    gap: var(--gap-pc);
}

.category-carousel .carousel-contents{
    position: relative;
}

/* .category-carousel .discount-img{
    position: absolute;
    width: 35px;
    height: 50px;
    background-image: url(../img/discount.png);
    background-size: 35px 50px;
    background-repeat: no-repeat;
    top: 0;
    left: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
} */


.category-carousel .carousel-contents img{
    width: 292px;
    height: 292px;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 var(--shadow);
}

.category-carousel .text-box{
    width: 292px; 
    padding: 10px 16px 0 16px;
    text-align: center;
    box-sizing: border-box;
}

.category-carousel .product-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 10px;
    box-sizing: border-box;
}

.category-carousel .product-name p{
    font-size: 16px;
    line-height: 1.5;
    max-height: 64px;
    color: var(--black);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.category-carousel .product-price{
    margin-top: 10px;
}

.category-carousel .discount{
    font-size: 14px;
    color: var(--text-gray);
    text-decoration: line-through;
}

.category-carousel .price, .category-carousel .won{
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
}

.category-bottom-btn{
    height: 16px;
}


.category-bg-blue{
    position: absolute;
    width: calc(50vw + 750px);
    height: 310px;
    background-color: var(--main-color);
    border-top-right-radius: 160px;
    border-bottom-right-radius : 160px;
    left: 0;
    bottom: 118px;
    z-index: -1;
}
















/* 베스트셀러 */
#best-seller-container{
    margin-top: 300px;
}

.best-seller-wrapper{
    width: var(--min-width-pc);
    margin: 0 auto;
}

.video-box{
    position: relative;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
}

.video-box video{
    width: 100%;
}

.gradient-box{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, .5));
    opacity: 0;
    transition: .3s;
}

.video-box:hover .gradient-box{
    opacity: 1;
}

.view-item {
    width: 320px;
    margin-right: 50px;
    border-radius: 50%;
}


.view-item figure{
    position: relative;
}

.view-item img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-sizing: border-box;
}

.view-item figcaption{
    position: absolute;
    top: 6px;
    left: 6px;
    width: 308px;
    height: 308px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .3);
    line-height: 308px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    transition: .3s;
}


.view-item:hover figcaption{
    opacity: 1;
}





/* 제품리뷰 */
#review-container{
    margin-top: 300px;
    padding: 0 32px;
}

.review-wrapper{
    width: var(--min-width-pc);
    margin: 0 auto;
}

.review-frame{
    margin-top: 50px;
    height: 602px;
    overflow: hidden;
}

.review-contents-wrapper{
    display: flex;
    gap: var(--gap-pc);
}

.review-contents-wrapper>li{
    display: flex;
    flex-direction: column;
    gap: var(--gap-pc);
}

.review-list{
    position: relative;
    width: 292px;
    height: 292px;
    box-shadow: 0 1px 2px 0 var(--shadow);
    overflow: hidden;
}


.review-img{
    width: 292px;
    height: 292px;
    transition: .2s;
}

.review-detail-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
    opacity: 0;
    transition: .2s;
    padding: 0 40px;
    box-sizing: border-box;
}

.review-list:hover .review-detail-box{
    opacity: 1;
}

.review-list:hover .review-img{
    transform: scale(1.1);
}

.review-detail-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.review-summary figure{
    margin-top: 4px;
}

.review-summary img{
    width: 108px;
}

.review-title{
    color: var(--black);
    font-size: 16px;
    font-weight: bold;
}

.review-contents{
    width: 100%;
    height: 120px;
    color: var(--black);
    font-size: 16px;
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


.product-link{
    padding: 8px 12px;
    background-color: #f58682;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
}




/* 푸터 */
footer{
    background-color: var(--dokdo-line);
    border-top: 16px solid var(--main-color);
    padding: 100px 32px;
    margin-top: 300px;
}

.footer-contents-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--min-width-pc);
    margin: 0 auto;
}

.footer-contents{
    color: #fff;
}

.footer-title{
    font-size: 24px;
    font-weight: bold;
}

.footer-contents .contents-box{
    font-size: 12px;
}

.footer-contents.company .contents-box, .footer-contents.bank-cs .contents-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}

.footer-contents.company .information-link{
    color: #fff;
    margin-left: 8px;
}

.footer-contents.company .information-link:hover{
    text-decoration: underline;
    text-underline-position : under;
}

.footer-contents.company dl, .footer-contents.bank-cs dl{
    display: flex;
    gap: 12px;
}

.footer-contents.company dt, .footer-contents.bank-cs dt{
    font-size: 14px;
}


.footer-contents.bank-cs{
    display: flex;
    flex-direction: column;
    gap: 70px;
}


.cs-tel{
    font-size: 20px;
}


.footer-contents.sns .contents-box{
    display: flex;
    gap: 12px;
    margin-top: 16px;
}

.footer-contents.sns .contents-box img{
    width: 50px;
    height: 50px;
}






/* 고정버튼 */

.chat-btn-wrapper img, .scroll-btn img{
    width: 30px;
    height: 30px;
}

.chat-btn-wrapper figure, .scroll-btn figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-btn-wrapper figure{
    width: 50px;
    height: 50px;
    border: 2px solid var(--dark-blue);
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 var(--shadow);
    box-sizing: border-box;
}

.scroll-btn figure{
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 var(--shadow);
    margin-top: 8px;
    box-sizing: border-box;
    cursor: pointer;
}


.fixed-btn-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-btn{
    display: flex;
    flex-direction: column-reverse;
}

.chat-btn-accordion{
    display: none;
}

.chat-btn label{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../img/fixed_talk.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    background-color: var(--dark-blue);
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 var(--shadow);
    cursor: pointer;
    transition: .3s;
}

.chat-btn-box{    
    position: relative;
    height: 116px;
    overflow: hidden;
    border-radius: 25px;
}

.chat-btn-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 0;
    transform: translateY(118px);
    transition: .3s;
}

.chat-btn-accordion:checked ~ .chat-btn-box>.chat-btn-wrapper{
    transform: translateY(0px);
}

.chat-btn-accordion:checked + label{
    background-image: url(../img/fixed_close.png)
}














/* 반응형 */

@media screen and (max-width:1400px) {
    /* 라인별 제품추천 */
    #line-products .selected-type-frame{
        width: 934px;
    }
    
    .line-carousel .carousel-frame{
        width: 934px;
        height: 222px;
    }

    .line-carousel .carousel-contents{
        width: 460px;
        height: 220px;
    }

    .line-carousel .carousel-contents img{
        width: 220px;
        height: 220px;

    }

    .line-carousel .text-box{
        width: 240px;
        height: 220px;
    }

    .arrow-btn{
        width: calc(934px + 50px);
        bottom: 174px;
    }

    .line-bg-blue{
        height: 596px;
    }

}

@media screen and (max-width:1280px) {
    /* 브랜드 소개 */
    #brand-intro .intro-one, #brand-intro .intro-two{
        background-position: left center;
        background-size: auto 120vh;
    }

    #brand-intro .intro-three{
        background-position: right center;
        background-size: auto 120vh;
    }

    #brand-intro .intro-text-box{
        text-align: center;
        margin: 0 auto;
    }

    #brand-intro h2::after{
        margin: 16px auto 16px auto;
    }



    /* 제품 라인 소개 */
    .introduce-line-wrapper{
        width: var(--min-width-tab);
    }

    .introduce-line-wrapper ul{
        gap: 200px;
    }

    .dokdo-line-container, .sun-care-line-container, .local-line-container{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .line-text-box h2, .line-text-box .line-explanation {
        text-align: center;
    }

    #item-line .line-text-box h2::after{
        margin: 14px auto 14px auto;
    }

    .line-explanation{
        font-size: 16px;
        line-height: 1.5;
    }

    
    .line-img-box, .line-img-box img{
        width: 770px;
    }

    .keywords{
        display: flex;
    }
    
    .large{
        display: none;
    }

    .small{
        display: block;
    }
    
    .keyword-box{
        display: none;
    }

    .view-more{
        display: none;
    }



    /* 유형별 제품추천 */
    .category-wrapper{
        width: 916px;
    }

    #category-product .selected-type-frame{
        width: 916px;
    }

    #category-product .type-contents-wrapper>li{
        width: 916px;
        min-width: 916px;
    }

    .category-carousel{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .category-carousel .carousel-frame{
        width: 916px;
    }

    .category-carousel .arrow-btn{
        position: absolute;
        display: flex;
        width: calc(916px + 50px);
        justify-content: space-between;
        bottom: 250px;
    }

    .category-carousel .arrow-btn img{
        width: 36px;
        height: auto;
    }

    .category-carousel .text-box{
        padding: 10px 16px 0 16px;
    }

    .category-bg-blue{
        width: calc(50vw + 600px);
        bottom: 128px;
    }
    





    /* 베스트셀러 */
    #best-seller-container{
        padding: 0 32px;
    }

    .best-seller-wrapper{
        width: 100%;
        min-width: var(--min-width-tab);
    }

    .video-box video{
        min-width: 100%;
    }


    /* 제품리뷰 */
    .review-wrapper{
        width: 916px
    }

    .review-frame{
        height: 606px;
    }

    .review-contents-wrapper{
        gap: var(--gap-tab);
    }

    .review-contents-wrapper>li{
        gap: var(--gap-tab);
    }
}







@media screen and (max-width: 1100px) {
    /* 헤더 */
    header{
        min-width: var(--min-width-tab);
        height: 50px;
    }

    /* 메인메뉴 */
    .main-nav{
        display: none;
    }

    /* 우측버튼 */
    .right-btns .my-page-btn{
        display: none;
    }

    .right-btns .hamburger-menu-btn{
        display: flex;
    }

    /* 제품검색 */
    .search-container{
        display: none;
        width: 500px;
    }

    .search-box{
        width: 400px;
        height: 50px;
        border-radius: 25px;
    }

    .search-input{
        width: 300px;
    }

    .submit-btn img{
        width: 30px;
        height: 30px;
    }

    
    /* 라인별 제품추천 */
    #line-products .selected-type-frame{
        width: 630px;
    }

    .products-text-box{
        width: 630px;
    }

    .line-carousel{
        margin-top: 10px;
    }

    .line-carousel .carousel-frame{
        width: 630px;
        height: 572px;
    }

    .line-carousel .carousel-contents-wrapper>li{
        flex-direction: column;
        gap: 10px;
    }

    .line-carousel .carousel-contents{
        width: 630px;
        height: 280px;
        overflow: hidden;
        border-radius: 10px;
    }

    .line-carousel .carousel-contents img{
        width: 280px;
        height: 280px;

    }

    .line-carousel .text-box{
        width: 350px;
        height: 280px;
    }

    .arrow-btn{
        width: calc(630px + 80px);
        bottom: 347px;
    }

    .line-bg-blue{
        height: 936px;
    }



    /* 유형별 제품추천 */
    .category-wrapper{
        width: var(--min-width-tab);
    }

    #category-product .type-container{
        gap: 20px;
    }

    #category-product .selected-type-frame{
        width: var(--min-width-tab);
    }

    #category-product .type-contents-wrapper>li{
        width: var(--min-width-tab);
        min-width: var(--min-width-tab);
    }

    .category-carousel .carousel-frame{
        width: 605px;
    }

    .category-carousel .arrow-btn{
        width: var(--min-width-tab);
    }

    .category-bg-blue{
        width: 850px;
        border-radius: 160px;
        left: 50%;
        transform: translateX(-50%);
    }


    /* 제품리뷰 */
    .review-wrapper{
        width: var(--min-width-tab)
    }

    .review-frame{
        height: 772px;
    }

    .review-list{
        width: 375px;
        height: 375px;
    }

    .review-img{
        width: 375px;
        height: 375px;
    }

    



}






@media screen and (max-width: 900px) {

    /* 푸터 */
    footer{
        padding: 60px 32px 100px 32px;
    }


    .footer-contents-wrapper{
        width: 100%;
        min-width: var(--min-width-tab);
        flex-direction: column-reverse;
        justify-content: center;
        gap: 40px;
        flex-wrap: nowrap;
    }


    .footer-contents.bank-cs{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

}